.password {
  .password-label {
    display: block;
    text-align: left;
  }
  .password-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;

    &:focus {
      outline: 3px solid violet;
    }
  }
  .password-container {
    width: 100%;
    position: relative;
  }
  .eye {
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 20px;
    z-index: 3;
    cursor: pointer;
  }
}
