@import "../../assets/sass/variables";

.sign-up {
  background-color: $violet;
  width: 100vw;
  height: 100vh;

  .main {
    position: relative;
    top: 5%;
    background-color: #fefefe;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 50px 80px 50px;
    border-radius: 20px;

    img {
      width: 100%;
      cursor: pointer;
    }

    .hr {
      font-weight: bold;
      font-size: 20px;
      color: $violet;
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 20px;
    }
    .hr:before,
    .hr:after {
      opacity: 0.5;
      content: "";
      flex: 1 1;
      border-bottom: 3px solid $violet;
      margin: auto;
    }

    button {
      margin: 5% 0;
      color: white;
      background-color: $violet;
      font-size: 20px;
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $blue;
        box-shadow: inset;
        box-shadow: 0 0.5em 0.5em -0.4em black;
        transform: translateY(-0.25em);
      }
    }

    .error {
      font-size: 14px;
      color: $red;
    }
  }
}
