$violet: rgba(84, 21, 84, 255);
$blue: rgba(54, 197, 240, 255);
$yellow: rgba(235, 178, 46, 255);
$red: rgba(224, 28, 89, 255);
$green: rgba(44, 181, 124, 255);
$biege: rgba(244, 237, 228, 255);
$dark: rgba(26, 29, 33, 255);
$dark-hl: rgba(34, 37, 41, 255);
$darker: rgba(25, 23, 29, 255);
$darker-hl: rgba(39, 36, 44, 255);
$darkest: rgba(18, 16, 22, 255);
$gray: rgba(56, 55, 60, 255);
$text-gray: rgba(154, 153, 156, 255);
$highlight: rgba(18, 100, 163, 255);
$modal: rgba(34, 37, 41, 255);
$receiver: rgba(26, 42, 51, 255);
$backdrop: rgb(0, 0, 0, 0.4);
